.company-vision {
  display: block;    /* 인라인 요소를 블록 요소로 변경 */
  margin: 0 auto;    /* 상하 0, 좌우 자동 마진으로 중앙 정렬 */
  max-width: 100%;   /* 부모 너비를 넘지 않도록 설정 */
  height: auto;
}


.company_pic {
  display: block;    /* 인라인 요소를 블록 요소로 변경 */
  margin: 0 auto;    /* 상하 0, 좌우 자동 마진으로 중앙 정렬 */
  max-width: 100%;   /* 부모 너비를 넘지 않도록 설정 */
  height: auto;
}