/* ProductsSubsections.css */
.product-image {
  max-width: 100%; /* 이미지가 컨테이너를 벗어나지 않도록 설정 */
  height: auto;
  display: block; /* 블록 요소로 변경하여 margin 적용 */
  margin: 0 auto; /* 중앙 정렬 */
}

.sub-section {
  padding: 20px;
  text-align: center;
}
