/* src/components/Footer/Footer.css */

.footer-section {
  scroll-snap-align: start;
  background-color: #222;
  padding: 2rem;
  font-size: 0.8rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .footer-section {
    padding: 1.5rem;
  }
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .footer-inner {
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .footer-inner {
    justify-content: center; /* 1024px 이상 해상도에서 내용 중앙 정렬 */
  }
}

.footer-info p {
  margin: 0.2rem 0;
}

@media (max-width: 768px) {
  .footer-info p {
    margin-bottom: 0.5rem;
  }
}
