/* SupportSection.css */
.support-title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.support-tabs {
  display: flex;
  justify-content: left;
  border-bottom: 2px solid #eee;
  margin-bottom: 1rem;
}

.support-tab {
  padding: 10px 20px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #888;
  position: relative;
  transition: color 0.3s;
  flex-shrink: 0; /* 탭이 줄어들지 않도록 설정 */
}

.support-tab.active {
  color: #333;
  font-weight: 700;
}

.support-tab.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
}

.support-content {
  /* This container now holds the conditionally rendered component */
  padding: 1rem 0;
}

.support-content-section {
  width: 100%;
  padding: 1rem;
}

/* Mobile responsiveness for SupportSection */
@media (max-width: 768px) {
  .support-tabs {
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent tabs from wrapping */
    justify-content: flex-start; /* Align tabs to the start */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }

  .support-tabs::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
  }

  .support-tab {
    padding: 10px 15px; /* Adjust padding for smaller screens */
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}
